body{
	margin: 0 auto;
	
}
.center-img {
	display: block;
	margin: 0 auto;
}
h1{
	color: #fff;
	text-align: center;
	font-family: "Comic Sans MS";
}

#bottom {
	position:absolute;
	float: top;
	width: 100vw;
	height: auto;
	margin-top: -6vw;
	left: 0vw;
	right: 0;
}
#top {
	width: 25vw;
	height: auto;
	position:relative;
	float: left;
	margin-top: 4vw;
	margin-left: 25vw;
	margin-right: 0vw;
}
#top2 {
	width: 25vw;
	height: auto;
	position:relative;
	top: 0wv;
	margin-top: 3.3vw;
	margin-left: 0vw;
	margin-right: 10vw;
}